@model CheckOutViewModel
@{
    ViewData["Title"] = "Checkout";
}

<link href="~/css/Checkout.css" rel="stylesheet" />

<div class="page-header">
    <div class="container">
        <h1>Checkout</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 mt-2">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                <li class="breadcrumb-item active">Checkout</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container py-5">
    <div class="checkout-steps mb-4">
        <div class="step done"><div class="step-num"><i class="bi bi-check"></i></div><span class="step-label">Cart</span></div>
        <div class="step-line done"></div>
        <div class="step active"><div class="step-num">2</div><span class="step-label">Checkout</span></div>
        <div class="step-line"></div>
        <div class="step inactive"><div class="step-num">3</div><span class="step-label">Confirmation</span></div>
    </div>

    <form asp-controller="Cart" asp-action="PlaceOrder" method="post">

        <div class="row g-4">
            <div class="col-lg-8">
                <div class="form-section">
                    <div class="form-section-title"><i class="bi bi-person"></i> Contact Information</div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label asp-for="FullName" class="form-label">Full Name *</label>
                            <input asp-for="FullName" type="text" class="form-control" placeholder="John" />
                        </div>
                        <div class="col-md-6">
                            <label asp-for="PhoneNumber" class="form-label">Phone Number *</label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="+1 (555) 000-0000" />
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <div class="form-section-title"><i class="bi bi-geo-alt"></i> Shipping Address</div>
                    <div class="row g-3">

                        <div class="col-12">
                            <label asp-for="ShippingAddress" class="form-label">Address Line </label>
                            <input asp-for="ShippingAddress" type="text" class="form-control" placeholder="Apt, Suite, Floor (optional)" />
                            <span asp-validation-for="ShippingAddress"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="City" class="form-label">City *</label>
                            <input asp-for="City" type="text" class="form-control" placeholder="New York" />
                            <span asp-validation-for="City"></span>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <div class="form-section-title"><i class="bi bi-credit-card"></i> Payment Method</div>
                    <div class="payment-method selected">
                        <div class="form-check">
                            <input asp-for="PaymentMethod" class="form-check-input" type="radio" name="PaymentMethod" value="Visa" id="p1" checked />
                            <label  class="form-check-label" for="p1">💳 Credit / Debit Card</label>
                        </div>
                        <div class="mt-3 row g-3">
                            <div class="col-12">
                                <label class="form-label">Card Number *</label>
                                <input type="text" class="form-control" placeholder="1234 5678 9012 3426" maxlength="16" minlength="16" pattern="\d*" title="برجاء إدخال 16 رقم"  required/>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Expiry Date *</label>
                                <input type="text" class="form-control" placeholder="MM / YY" maxlength="5" required />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">CVV *</label>
                                <input type="text" class="form-control" placeholder="123" maxlength="3" minlength="3" pattern="\d*" title="برجاء إدخال 3 أرقام" required />
                            </div>
                            <div class="col-12">
                                <label class="form-label">Name on Card *</label>
                                <input type="text" class="form-control" placeholder="John Doe" required />
                            </div>
                        </div>
                    </div>
                    <div class="payment-method">
                        <div class="form-check">
                            <input asp-for="PaymentMethod" class="form-check-input" type="radio" name="PaymentMethod" value="Cash" id="p3" />
                            <label class="form-check-label" for="p3">💵 Cash on Delivery</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="order-summary">
                    <h5>Order Summary</h5>
                    @foreach (var item in Model.CartItems)
                    {
                        <div class="mini-item">
                            <div><div class="mini-name">@item.Product.Name</div><div style="font-size:.75rem;color:var(--text-muted);"> Qty: @item.Quantity</div></div>
                            <span class="mini-price">
                                $@(item.Quantity* item.UnitPrice)
                            </span>
                        </div>
                    }
                    <hr style="border-color:#ececec;" />
                    <div class="summary-row summary-total"><span>Total</span><span style="color:var(--accent);">@Model.GrandTotal</span></div>

                    <button type="submit" class="btn-place mt-4">Place Order <i class="bi bi-lock ms-2"></i></button>

                    <div class="mt-2 text-center" style="font-size:.78rem;color:var(--text-muted);"><i class="bi bi-shield-check me-1"></i>256-bit SSL Secure Checkout</div>
                </div>
            </div>
        </div>

    </form>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            // 1. بنمسك المربعات بتاعت الفيزا اللي في الشاشة
            var visaInputs = $('#p1').closest('.payment-method').find('input[type="text"]');

            // 2. أول ما الصفحة تفتح، بنخليهم إجباري (Required) لأن الفيزا متعلم عليها افتراضياً
            visaInputs.prop('required', true);

            // 3. لما العميل يغير رأيه ويدوس على زراير الدفع
            $('input[name="PaymentMethod"]').change(function () {

                if ($(this).val() === 'Cash') {
                    // لو اختار كاش: بنشيل الإجبار عشان الفورم تتبعت بسلام
                    visaInputs.prop('required', false);
                }
                else {
                    // لو رجع اختار فيزا: بنرجع الإجبار تاني عشان ميبعتهاش فاضية
                    visaInputs.prop('required', true);
                }

            });

        });
    </script>
}